/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  /*
      Blue: hsl(207, 90%, 61%)
      Purple: hsl(250, 66%, 75%)
      Pink: hsl(356, 66%, 75%)
      Teal: hsl(174, 63%, 62%)
  */

  --hue: 250;
  --sat: 66%;
  --lig: 75%;
  --first-color: hsl(var(--hue), var(--sat), var(--lig));
  --first-color-alt: hsl(var(--hue), var(--sat), 71%); /* -4% */
  --sec-color-alt: hsl(var(--hue), var(--sat), 65%);
  --title-color: hsl(var(--hue), 12%, 15%);
  --text-color: hsl(var(--hue), 12%, 45%);
  --text-color-light: hsl(var(--hue), 8%, 75%);
  --text-color-lighten: hsl(var(--hue), 8%, 92%);
  --body-color: hsl(var(--hue), 100%, 99%);
  --container-color: #fff;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Poppins', sans-serif;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
}

* {
    margin: 0;
    padding: 0;;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    transition: .3s; /* For animation dark mode */
    min-height: 100vh;
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    z-index: 1;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.loader {
    width: 45px;
    height: 40px;
    background: linear-gradient(#fff calc(1*100%/6),#000 0 calc(3*100%/6),#fff 0),
              linear-gradient(#fff calc(2*100%/6),#000 0 calc(4*100%/6),#fff 0),
              linear-gradient(#fff calc(3*100%/6),#000 0 calc(5*100%/6),#fff 0);
    background-size: 10px 400%;
    background-repeat: no-repeat;
    animation: matrix 1s infinite linear;
    transition: opacity 1s ease; /* Transition for opacity */
    opacity: 1;
}
  
@keyframes matrix {
    0% {
      background-position: 0% 100%, 50% 100%, 100% 100%
    }
  
    100% {
      background-position: 0% 0%, 50% 0%, 100% 0%
    }
}

.fadeOut {
    opacity: 0;
}

.fadeIn {
    opacity: 1;
}

#container {
    position: relative;
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 8%;
    min-height: 100vh;
}

.hidden {
    display: none;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

.gallery img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

img {
    border-radius: 16px;
}

.upload-container {
    text-align: center;
}

.inputFile {
    display: none;
    width: 20%;
}

.custom-file-upload {
    background-color: var(--first-color);
    border-radius: 5px;
    border: none;
    color: var(--text-color-lighten);
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    transition: background-color 0.3s ease;
  }
  
  .custom-file-upload:hover {
    background-color: var(--first-color-alt);
  }

.upload-button {
    background-color: var(--first-color); /* สีเขียว */
    color: var(--text-color-lighten);
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 20%;
    font-size: 16px;
    box-sizing: border-box;
}

.upload-button:hover {
    background-color: var(--first-color-alt); /* เปลี่ยนสีเมื่อเมาส์ชี้ */
}

.bar {
    height: 1vh;
    width: 100%;
    background: var(--first-color);
    margin-bottom: 10px;
}

.bar .progress {
    background: var(--sec-color-alt);
    height: 100%;
    width: 0%;
}

.uploadPercent {
    color: var(--text-color);
}